<mat-grid-list cols="4" rowHeight="20px" class="ticket-grid">
  <mat-grid-tile colspan="4" rowspan="2">
    <div class="row wide-row" fxLayoutAlign="space-between center">
      <p>{{ data.talk.ticketCode }}</p>
      <mat-icon class="close-button" (click)="close()">
        <span class="material-symbols-outlined"> close </span>
      </mat-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="16">
    <form style="width: 100%" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field
        class="form-field-title ticket-form-field"
        appearance="outlined"
      >
        <input
          matInput
          required
          formControlName="title"
          class="mat-h ticket-form-field"
        />
      </mat-form-field>

      <label class="ticket-form-field-label">Description</label>
      <mat-form-field class="ticket-form-field" appearance="outlined">
        <textarea
          matInput
          placeholder="Description..."
          required
          formControlName="description"
        >
        {{ data.talk.description }}
        </textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <label class="ticket-form-field-label space-bottom">Comments</label>

      <form
        style="width: 100%"
        [formGroup]="commentFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <div
          class="row, wide-row"
          fxLayout="column"
          fxLayoutAlign="flex-start center"
        >
          <mat-form-field class="comment-form-field" appearance="outlined">
            <textarea
              matInput
              class="comment-text-field"
              placeholder="Description..."
              required
              formControlName="comment"
            >
            </textarea>
          </mat-form-field>
          <div
            class="row, wide-row"
            fxLayout="column"
            fxLayoutAlign="flex-end felx-end"
          >
            <button type="submit" mat-button color="primary">Comment</button>
          </div>
        </div>
      </form>

      <mat-dialog-actions align="end">
        <!--
            mat-dialog-close is a directive from the `MatDialogModule` which can be used
            to close the current dialog in a declarative way on element click.
          -->
        <button mat-button mat-dialog-close>Cancel</button>

        <button mat-button type="submit" [disabled]="formGroup.invalid">
          {{ data?.edit ? "Update" : "Add" }}
        </button>
      </mat-dialog-actions>
    </form>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">2</mat-grid-tile>
</mat-grid-list>
