/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wide-row {
  width: 100%;
}

.close-button {
  position: relative;
  top: -5px;
  cursor: pointer;
}

.form-field-title {
  margin-bottom: 10px !important;
  font-size: 25px !important;
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

.ticket-form-field-label {
  color: #172b4d;
  font-weight: 600;
  display: block;
}

.space-bottom {
  margin-top: 15px;
}

.ticket-form-field,
.comment-form-field {
  &:hover {
    background-color: #efefef;
  }
}

.form-field-create-title {
  border: solid 1px #dfe1e6 !important;
  padding: 5px !important;
  border-radius: 3px;
}

.mb-2 {
  margin-bottom: 10px;
}
